
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: linear-gradient(330deg,#3F71EA,rgb(224, 68, 230));
    background: linear-gradient(530deg,#3F71EA,rgb(224, 68, 230));
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}
.card-container{
    position: relative;
    width: 300px;
    height: 435px;
    background: #fff;
    margin: 10px 20px;
    border-radius: 30px;
    box-shadow: 1px 5px 10px 10px rgba(0,0,0,0.05);
    overflow: hidden;
}
.top-box{
    background: #3F71EA;
    height: 120px;
    border-radius: 30px;
    padding: 20px 30px;
}
.top-menu{
    display: flex;
    justify-content: space-between;
}
.top-box i{
    font-size: 22px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.dropdown-content{
    display: none;
    position: absolute;
    width: 180px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 10;
}
/* Show the dropdown on hover */
.dropdown:hover .dropdown-content{
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown*/
.dropdown:hover .dropbtn{
    box-shadow: inset 0px 0px 2px 1px #394cbb;
}
.menu-list{
    display: flex;
    flex-direction: column;
}
.menu-list a{
    text-decoration: none;
    font-size: 15px;
    color: #000;
    padding: 10px 20px;
}
.menu-list a:hover{
    background: #ffc9e2;
}
.more{
    right: 0;
    padding: 10px;
}
.skills-title{
    font-size: 15px;
    color: #ee2482;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px;
}
.skills-list label{
    font-size: 13px;
    background: #7760e6;
    color: #fff;
    padding: 1px 8px;
    border-radius: 3px;
}
/* Image Box*/

.image-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -75px auto 10px auto;
    height: 160px;
    width: 160px;
    background: #fff;
    border-radius: 50%;
}
.image-box img{
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 3px 2px 1px rgba(0,0,0,0.3);
}
/* User Infomation */
.user-info .name{
    display: flex;
    justify-content: center;
}
.user-info .job{
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: #b93ceb;
}
/* Social icons */

/* From Uiverse.io by Smit-Prajapati */ 
.parent {
    width: 300px;
    padding: 10px;
    perspective: 1000px;
  }
  
  .card {
    padding-top: auto;
    border-radius: 30px;
    border: 3px solid rgb(255, 255, 255);
    transform-style: preserve-3d;
    background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
        repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
    background-size: 60px 60px;
    background-position: 0 0, 0 0;
    background-color: #f0f0f0;
    width: 100%;
    box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
    transition: all 0.5s ease-in-out;
  }
  
  .card:hover {
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
  }
  
  .content-box {
    background: rgba(71, 68, 230, 0.808);
    border-radius: 20px 20px 20px;
    transition: all 0.5s ease-in-out;
    padding: 45px 25px 25px 25px;
    transform-style: preserve-3d;
  }
  .content-box .card-title {
    display: inline-block;
    color: white;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
  }
  
  .content-box .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
  }
  
  .content-box .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
  }
  
  .content-box .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
  }
  
  .content-box .see-more {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 9px;
    text-transform: uppercase;
    color: rgb(7, 44, 255);
    /* border-radius: 5px; */
    background: white;
    padding: 0.5rem 0.7rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
  }
  
  .content-box .see-more:hover {
    transform: translate3d(0px, 0px, 60px);
  }
  
  .date-box {
    position: absolute;
    top: 25px;
    right: 30px;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px solid rgb(7, 135, 255);
    border-radius: 10px;
    padding: 10px;
    transform: translate3d(0px, 0px, 80px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
  }
  
  .date-box span {
    display: block;
    text-align: center;
  }
  
  .date-box .month {
    color: rgb(7, 135, 255);
    font-size: 9px;
    font-weight: 700;
  }
  
  .date-box .date {
    font-size: 20px;
    font-weight: 900;
    color: rgb(7, 135, 255);
  }
   

/* Animated circles */
.circle-1{
    position: absolute;
    left: -20px;
    top: 35%;
    height: 50px;
    width: 50px;
    border: 2px dashed #c975fb;
    border-radius: 50%;
    animation: circle-1 5s ease-in-out infinite;
}
.circle-2{
    position: absolute;
    right: -20px;
    bottom: -30px;
    height: 100px;
    width: 100px;
    border: 2px dashed #c975fb;
    border-radius: 50%;
    animation: circle-2 15s ease-in-out infinite;
}
/* Circle-1 animation */
@keyframes circle-1 {
    50%{
        left: -20px;
        top: 40%;
    }
}
/* Circle-1 animation */
@keyframes circle-2 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* Social */ 
.social-buttons {
    display: relative;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 15px #00000027;
    padding: 15px 10px;
    border-radius: 5em;
  }

  /* Tambahkan media query untuk perangkat seluler */
@media (max-width: 768px) {
  .social-buttons {
    display: flex;
  }
}
  
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 60%;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
  }
  
  .social-button:hover {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 6px 3px #00000027;
  }
  
  .social-buttons svg {
    transition: 0.3s;
    height: 20px;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .facebook svg {
    fill: #f2f2f2;
  }
  
  .facebook:hover svg {
    fill: #3b5998;
  }
  
  .github {
    background-color: #333;
  }
  
  .github svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
  }
  
  .github:hover svg {
    fill: #333;
  }
  
  .linkedin {
    background-color: #0077b5;
  }
  
  .linkedin svg {
    fill: #f2f2f2;
  }
  
  .linkedin:hover svg {
    fill: #0077b5;
  }
  
  .instagram {
    background-color: #c13584;
  }
  
  .instagram svg {
    fill: #f2f2f2;
  }
  
  .instagram:hover svg {
    fill: #c13584;
  }
  
